{% extends "baseTemplate.html" %}
{% block content %}
<h1 class="text-center">Enter Details Below</h1>
<!-- displays error when needed-->
<h3 class="text-center p-3"> {{ error }} </h3>
<div class="my-auto">

    <form name="add-admin-account" action="" method="post">

        <!-- displays input fields, wraps input fields on smaller screens-->
        <div class="d-flex flex-wrap justify-content-around">

            <div class="d-flex flex-column">
                <label for="fname">First Name </label><br>
                <input type="text" id="fname" name="fname" required> </input><br>

                <label for="surname">Surname</label><br>
                <input type="text" id="surname" name="surname" required> </input><br>
             </div>

             <div class="d-flex flex-column">
                 <label for="username">Username</label><br>
                 <input type="text" id="username" name="username" required> </input><br>

                 <label for="email">Email Address</label><br>
                 <input type="email" id="email" name="email" required> </input><br>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-secondary" name="button" value="sign up">Add Admin</button>
        </div>

    </form>
</div>





{% endblock %}
