<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<title>{{ pageTitle }}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>
<!-- base page layout-->
<body class="d-flex flex-column min-vh-100">
        <!-- pulls in bootstrap files and a custom js file-->
	<script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/quizzle.js') }}"></script>
        
        <!-- adds the navbar to the page-->
	{% include 'navbar.html'  %}

        <!-- adds flashed messaged to the page-->
        {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-center p-3"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <!-- used to designate the space of child pages through inheritance -->
	{% block content %} {% endblock %}

         <!-- adds the footer to the page -->
	{% include 'footer.html'  %}
	
</body>
</html>
