<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<title>{{ pageTitle }}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100">
	<script src="{{ url_for('static', filename='/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/quizzle.js') }}"></script>

	{% include 'navbar.html'  %}

        {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-center p-3"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endif %}
        {% endwith %}
 
	{% block content %} {% endblock %}


	{% include 'footer.html'  %}
	
</body>
</html>
