{% extends "baseTemplate.html" %}
{% block content %}
<div class="m-auto text-center">
    <form>
        <div class="m-auto text-center">
            <strong><label">Quiz Name</label></strong></br>
            <input type="text" id="quiz-name" name="quiz-name"></input><br><br>
        </div>

        <strong><p>How many questions?</p></strong>
        <button name="quiz-size" type="submit" value="10">10</button>
        <button name="quiz-size" type="submit" value="20">20</button>    
    </form>
</div>
{% endblock %}
