{% extends "baseTemplate.html" %}
{% block content %}
<!-- Lists users/admin depending on request  -->
{% for user in users %}
<form name="list-user" method="post" action=""> <!-- added form may need to remove-->
    <div class="d-flex flex-row justify-content-around">

        <div class="d-flex flex-column">
            <p><strong>First Name</strong></p>
            <p>{{ user['first_name'] }}</p>

            <p><strong>Surname</strong></p>
            <p>{{ user['surname'] }}</p>
        </div>

        <div class="d-flex flex-column">
            <p><strong>Username</strong></p>
            <p>{{ user['username'] }}</p>

            <p><strong>Email</strong></p>
            <p>{{ user['email_address'] }}</p>
        </div>

        <input type="hidden" name="username" value="{{ user['username'] }}">
        <input type="hidden" name="accType" value="{{ user['accountType'] }}">

    </div>

    <div class="d-flex flex-row justify-content-around">
        <a href="/delete-account-asAdmin"><button type="submit" class="btn btn-secondary">Delete Account</button></a>
    </div>
</form>
{% endfor %}


{% endblock %}
