{% extends "baseTemplate.html" %}
{% block content %}
<h1 class="text-center">Log In</h1>

<form name="sign-in" action="" method="POST">

<h3 class="text-center p-3"> {{ error }} </h3>

    <div class="d-flex flex-row justify-content-around">

        <div class="d-flex flex-column">
            <label for="username"><strong>Username</strong></label><br>
            <input type="text" id="username" name="username" required> </input><br>

           <label for="password"><strong>Password</strong></label><br>
           <input type="password" id="password" name="password" required> </input><br>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary " name="button" value="log in">Log In</button>
    </div>

</form>





{% endblock %}
