{% extends "baseTemplate.html" %}
{% block content %}

<div class="d-flex flex-column justify-content-around text-center">

    <h3><strong>{{ title }}</strong></h3>

    <p><strong>{{ question['question'] }}</strong></p>

    <div class="w-75 mx-auto">
        <hr>
    </div>

    <div class="d-flex flex-row justify-content-around">
        <form name="question" method="post" action="">
            {% for key, value in question["answers"].items() %}
                <button type="submit" class="btn btn-secondary" name="answer" value="{{ value }}">{{ key }}</button>
            {% endfor %}
            <input type="hidden" name="quiz" value="{{ quizJson }}">
        </form>
    </div>
</div>
    
{% endblock %}
