{% extends "baseTemplate.html" %}
{% block content %}
<div class="m-auto text-center">
<!-- Checks if numQuestions is available and if numQuestions is over 10 -->
<!-- displays a message to the user depending on their score -->
{% if numQuestions and numQuestions > 10 %}
    {% if score %}
        <h3> You scored {{ score }}/{{ numQuestions}}</h3>
        {% if score > 14 %}
            <h3> Wow! Amazing work!</h3>
        {% elif score > 8 %}
            <h3> Could be worse I suppose</h3>
        {% else%}
            <h3>c'mon, a 2 year old could do better, unless you are 2 then well done you! </h3>
        {% endif %}
    {% endif%}
<!-- Checks if numQuestions is available - accounts for 10 question quizes-->
<!-- displays a message to the user depending on their score -->
{% elif numQuestions %} 
    {% if score %}
        <h3> You scored {{ score }}/{{ numQuestions}}</h3>
        {% if score > 6 %}
            <h3> Wow! Amazing work!</h3>
        {% elif score > 4 %}
            <h3> Could be worse I suppose</h3>
        {% else%}
            <h3>c'mon, a 2 year old could do better, unless you are 2 then well done you! </h3>
        {% endif %}
    {% endif%}
<!-- outputs message to user if score isn't available -->
{% else %}
    <h3> Sorry couldn't retrieve your score</h3>
{% endif%}
    <div class="m-auto text-center" style="width: 50%">
        <img src="/static/images/site-images/detective.png" alt="detective with magnifying glass" class="img-fluid">
    </div>
</div>
{% endblock %}
