{% extends "baseTemplate.html" %}
{% block content %}
<h1 class="text-center">Enter Details Below</h1>

<h5 class="text-center p-3"> {{ error }} </h5>

<div class="text-center p-3 text-danger">
   <strong><label id="errorMessage"></label></strong>
</div>

<form name="sign-up" id="sign-up" action="" method="post">
    

    <div class="d-flex flex-row justify-content-around">

        <div class="d-flex flex-column">
            <label for="fname"><strong>First Name</strong></label><br>
            <input type="text" id="fname" name="fname" required> </input><br>

           <label for="surname"><strong>Surname</strong></label><br>
           <input type="text" id="surname" name="surname" required> </input><br>
        </div>

        <div class="d-flex flex-column">
            <label for="username"><strong>Username</strong></label><br>
            <input type="text" id="username" name="username" required> </input><br>

            <label for="email"><strong>Email Address</strong></label><br>
            <input type="email" id="email" name="email" required> </input><br>
        </div>
       
        <div class="d-flex flex-column">
            <label for="password"><strong>Password</strong></label><br>
            <input type="password" id="password" name="password" required> </input><br>

            <label for="confirm-password"><strong>Confirm Password</strong></label><br>
            <input type="password" id="confirm-password" name="confirm-password" required> </input><br>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-secondary" name="button" onClick="checkPass(event)" value="sign up">Sign Up</button>
    </div>

</form>


<script>

function checkPass(event) {
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirm-password').value;
    const fname = document.getElementById('fname').value;
    const surname = document.getElementById('surname').value;
    const username = document.getElementById('username').value;
    const email = document.getElementById('email').value;

    if(fname == "" || surname == "" || username == "" || email == "" || password == "" || confirmPassword == "") {
        event.preventDefault();
        errorMessage.textContent = "Please ensure all fields are filled";
    }
    else if (password === confirmPassword) {
        document.getElementById("sign-up").submit();
    } else {
        event.preventDefault();
        errorMessage.textContent = "Passwords Don't match, ensure both password and confirm password are the same";
    }
}
</script>



{% endblock %}
